<ul class="pagination justify-content-right">
  <li class="page-item" [ngClass]="{ disabled: page == 1 }">
    <a class="page-link" href="{{ hash }}{{ url }}1" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>

  <li class="page-item" *ngIf="page - 4 > total - columns && page - 4 >= 1">
    <a class="page-link" href="{{ hash }}{{ url }}{{ page - 4 }}">{{
      page - 4
    }}</a>
  </li>
  <li class="page-item" *ngIf="page - 3 > total - columns && page - 3 >= 1">
    <a class="page-link" href="{{ hash }}{{ url }}{{ page - 3 }}">{{
      page - 3
    }}</a>
  </li>
  <li class="page-item" *ngIf="page - 2 >= 1">
    <a class="page-link" href="{{ hash }}{{ url }}{{ page - 2 }}">{{
      page - 2
    }}</a>
  </li>
  <li class="page-item" *ngIf="page - 1 >= 1">
    <a class="page-link" href="{{ hash }}{{ url }}{{ page - 1 }}">{{
      page - 1
    }}</a>
  </li>
  <li class="page-item disabled">
    <a class="page-link" href="{{ hash }}{{ url }}{{ page }}">{{ page }}</a>
  </li>
  <li class="page-item" *ngIf="page + 1 <= total">
    <a class="page-link" href="{{ hash }}{{ url }}{{ page + 1 }}">{{
      page + 1
    }}</a>
  </li>
  <li class="page-item" *ngIf="page + 2 <= total">
    <a class="page-link" href="{{ hash }}{{ url }}{{ page + 2 }}">{{
      page + 2
    }}</a>
  </li>
  <li class="page-item" *ngIf="page + 3 <= total && page + 3 <= columns">
    <a class="page-link" href="{{ hash }}{{ url }}{{ page + 3 }}">{{
      page + 3
    }}</a>
  </li>
  <li class="page-item" *ngIf="page + 4 <= total && page + 4 <= columns">
    <a class="page-link" href="{{ hash }}{{ url }}{{ page + 4 }}">{{
      page + 4
    }}</a>
  </li>
  <li class="page-item" [ngClass]="{ disabled: page == total }">
    <a
      class="page-link"
      href="{{ hash }}{{ url }}{{ total }}"
      aria-label="Next"
    >
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
