<div class="container">
  <h1 class="border-left"><a name="info"></a>{{ "NAV-INFO" | translate }}</h1>
  <div class="row info">
    <div class="col-md-12">
      <p class="content" *ngIf="intro">
        {{ intro.content }}
      </p>
    </div>
    <div class="col-12">
      <table class="table table-borderless table-responsive d-none d-sm-block" *ngIf="intro">
        <caption>
          {{
            intro.company
          }}
        </caption>
        <tbody>
          <tr *ngFor="let item of intro.items; let i = index">
            <th scope="row">{{ item.key }}</th>
            <td>{{ item.value }}</td>
          </tr>
        </tbody>
      </table>

      <ul class="d-block d-sm-none" *ngIf="intro">
        <li>
          {{ intro.company }}
        </li>
        <li *ngFor="let item of intro.items; let i = index">
          <ul>
            <li scope="row">{{ item.key }}</li>
            <li>{{ item.value }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
