.social,
.store,
.social-xs,
.store-xs {
  position: fixed;
  right: 20px;
  top: 50%;
  margin-top: -40px;
  img {
    height: 20px;
    width: 20px;
  }
}

.store, .store-xs {
  left: 20px;
  right: auto;
}

::ng-deep .tooltip-inner {
  img {
    width: 80px;
  }
}

.social-xs, .store-xs {
  position: fixed;
  background-color: black;
  top: 40%;
  left: 0;
  right: 0;
  a {
    font-size: 3rem;
  }
  img {
    height: 3rem;
    width: 3rem;
  }
  opacity: 0.5;
}

.store-xs {
  top: auto;
  bottom: 0px;
}
